#heading {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: rgb(0, 0, 0);
  color: rgb(229, 255, 0);
  text-align: center;
}

#container1 {
  width: 30%;
  height: 50px;
  background-color: rgb(234, 255, 7);
  float: right;
  text-align: center;
  line-height: 50px;
}
#container2 {
  width: 70%;
  height: 50px;
  background-color: rgb(255, 0, 0);
  margin-right: 100px;
  text-align: center;
  line-height: 50px;
}

#footer {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: rgb(59, 53, 53);
  color: rgb(0, 0, 0);
  text-align: center;
  color: rgb(229, 255, 0);
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
  #heading {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: rgb(59, 53, 53);
    color: white;
    text-align: center;
  }

  #container1 {
    width: 30%;
    height: 50px;
    background-color: rgb(221, 68, 68);
    float: right;
    margin-right: 50px;
    text-align: center;
    line-height: 50px;
  }
  #container2 {
    width: 70%;
    height: 50px;
    background-color: rgb(68, 90, 236);
    margin-right: 100px;
    margin-left: 50px;
    text-align: center;
    line-height: 50px;
  }

  #footer {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgb(59, 53, 53);
    color: white;
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  #heading {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: rgb(59, 53, 53);
    color: white;
    text-align: center;
  }

  #container1 {
    width: 80%;
    height: 50px;
    background-color: rgb(88, 251, 128);
    text-align: center;
    line-height: 50px;
    margin: 10px 25px 10px 25px;
    float: right;
  }
  #container2 {
    width: 80%;
    height: 50px;
    background-color: rgb(88, 251, 128);
    text-align: center;
    line-height: 50px;
    margin: 0px 25px 10px 25px;

    float: right;
  }

  #footer {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgb(59, 53, 53);
    color: white;
    text-align: center;
    float: right;
  }
}
